link(rel='stylesheet', href='/css/partial1.css')
.hero-bg
	.hero-content
		.svg-container
			#my-animation
		.svg-container
			#my-second-animation
.page-wrapper
	.row
		.col-lg-12.text-center
			#project-title(style="font-family: Quicksand;") Latest Work
	br
	br
	.container
		.col-lg-12
			card-item(ng-repeat='project in listOfProjects', url='{{project.url}}', title='{{project.title}}', description='{{project.description}}', route='{{project.route}}', tags="{{project.tags}}")
	br
	br
	br