link(rel='stylesheet', href='/css/partialProject1.css')
multi-parallax
//div(multi-parallax, imageUrls={{listOfImages}})
//multi-parallax(imageUrls={{listOfImages}})
//#hero
    .layer-bg.layer(data-type='parallax', data-depth='.10')
    .layer-1.layer(data-type='parallax', data-depth='.20')
    .layer-2.layer(data-type='parallax', data-depth='.50')
    .layer-3.layer(data-type='parallax', data-depth='.80')
    .layer-overlay.layer(data-type='parallax', data-depth='.85')
    .layer-4.laye(data-type='parallax', data-depth='1.00')
.project-container
    .row
        .page-header
        h1
            | Overview
        p For 12 weeks, I worked in a team of four undergraduate students to create a prototype for a carbon tracking application assuming that there is a carbon tax in 2020. This topic was assigned to my team by our professor, Thomas A. Furness III, who is the Grandfather of Virtual Reality.
        br
        h3
           | Team
        .row
            .col-lg-12
                .col-lg-4(style='font-size: 12pt')
                    | Shelley Eang 
                    br
                    | Sean Hoon 
                    br
                    | Michael Kozlowski 
                    br
                    | Lacey Peil

                .col-lg-4(style='font-size: 12pt')
                    | Visual &amp; UX Design 
                    br
                    | Project Manager 
                    br
                    | Technical Writer 
                    br
                    | Visual Design &amp; Research                  
                .col-lg-4.alert.alert-success
                    | 6 judges from the professional VR industry critiqued our project. 
                    span.bold-text Out of 18 teams
                    |  in the class, my team won 
                    span.bold-text 3rd place in overall project
                    |  based on the solution, presentation, and report.      
        br
        h3
            | My Responsibilities
        br
        .row
            .col-lg-12
                .col-lg-3 
                    img(src='images/web_research.png').thumbnail-circle.shake
                    p conduct web research and competitive analysis 
                .col-lg-3 
                    img(src='images/persona.png').thumbnail-circle.shake
                    p create persona and scenarios 
                .col-lg-3 
                    img(src='images/site_map.png').thumbnail-circle.shake
                    p develop sitemap 
                .col-lg-3 
                    img(src='images/interface.png').thumbnail-circle.shake
                    p design interfaces of the mobile prototype  
                .col-lg-3 
                    img(src='images/web_research.png').thumbnail-circle.shake
                    p edit and finalize lo and hi-fi design mockups 
                .col-lg-3 
                    img(src='images/persona.png').thumbnail-circle.shake
                    p facilitate, moderate, and note take usability studies 
                .col-lg-3 
                    img(src='images/site_map.png').thumbnail-circle.shake
                    p collaborate in creating group presentations 
                .col-lg-3 
                    img(src='images/interface.png').thumbnail-circle.shake
                    p contribute and finalize final report
