link(rel='stylesheet', href='/css/partial1.css')
.hero-bg
	.hero-content
		.svg-container
			#my-animation
		.svg-container
			#my-second-animation
	.position
br
.page-wrapper#projects-content
	.row
		.col-lg-12.text-center
			#project-title Projects
	br
.container
	.row
		.project-thumbnail.artifact-element.col-xs-12.col-sm-12.col-md-6.col-lg-4(ng-repeat='project in ::listOfProjects',on-finish-render='ngRepeatFinished', style='margin-top: 10px')
			.thumbnail.project-container(ng-click='goToProject(project.route)',style='padding: 0px; background-color: #30343f')
				img(src='{{project.url}}', alt='')
				.caption(style='text-align:center; color: white')
					h2.hvr-underline-from-center.project-name {{project.title}}
					div(style='text-align:center')
						span.project-tag(ng-repeat="tag in project.tags") {{tag}}&nbsp;
					p.project-info {{project.description}}
br
br
.page-wrapper#projects-content
	.row
		.col-lg-12.text-center
			#project-title Work Experiences 
			#project-sub-title Note: Work items tagged as "NDA" are not clickable due to non-discolure agreements.
	br
.container
	.row
		.project-thumbnail.artifact-element.col-xs-12.col-sm-12.col-md-6.col-lg-4(ng-repeat='project in ::workExperiences', on-finish-render='ngRepeatFinished', style='margin-top: 10px')
			.thumbnail.project-container(ng-click='goToProject(project.route)',style='padding: 0px; background-color: #30343f')
				img(src='{{project.url}}', alt='')
				.caption(style='text-align:center; color: white')
					h2.hvr-underline-from-center.project-name {{project.title}}
					div(style='text-align:center')
						span.project-tag(ng-repeat="tag in project.tags") {{tag}}&nbsp;
					p.project-info {{project.description}}


						
					