link(rel='stylesheet', href='/css/partialProject1.css')
div
    img.banner-image.img-responsive(src='images/banners/sightseers.jpg')
.position
.section
    .container
        .row.section-header Overview
        .row
            p For 12 weeks, I worked in a team of three undergraduate students to create a prototype for a travel documentation application following the goal directed design process.
.position
.section
    .container
        .row.section-header Team
        .row
            .col-md-4.col-xs-12.col-sm-12.col-lg-4(ng-repeat='member in ::team')
                .team-member-card
                    .member-name
                        |{{member.name}}
                    .member-role
                        |{{member.role}}
.position
.section
    .container
        .row.section-header My Responsibilities
        .row
            .col-xs-12.col-sm-6.col-lg-4(ng-repeat='responsibility in ::responsibilities')
                .box
                    .icon
                        .image
                            i.fa(class='{{responsibility.image}}')
                        .info
                            .title {{responsibility.description}}
                    .space
.position
.section
    .container
        .row.section-header Problem Statement
        .row
            p There are many existing travel applications that helps plan itineraries and documents photos and videos, though, many people often forget about the context behind the memory in which they are documenting onto social media. Based on web research, college students often do not travel due to financial constraints, however when given the opportunity, most college students like to share their experiences with their strong ties, such as their friends and family. Students also often forget about their memories when explaining to their family and friends, which results in living only in the moment. 
.position
.section
    .container
        .row.section-header Design Questions
        .container.design-question-statement
            span “
            | How can we use user centered design principles to design an application that allow college students to document their travels and share their memories with their family and peers?
            span ”
.position
.section
    .container
        .row.section-header Research
            p In the research phase, I helped my team conduct competitive analysis and web research.
        .row.sub-section-header Competitive Analysis
            p We discovered that many existing travel documenting application allow users to post an image with a short caption. This limited text space can limit the user in further writing their entire experiences. 
        //- .row.sub-section-header User Research
        //-     .row
        //-         p We conducted 3 usability test sessions with 3 college students. Results from all sessions are listed below. 
        //-         .col-lg-12.col-md-12.col-sm-12.col-xs-12.section-title
        //-             ul
        //-                 li Participants displayed confusion with the “PUBLISH & VIEW” button
        //-                 li Participants displayed confusion on the intuitiveness and functionality of the homepage
        //-                 li Participants displayed confusion on the redirection of multiple pages in the system including the pages that follow ‘SEARCH’ and ‘FRIENDS FEED’
.position
.section#section-seven
    .container
        .row.section-header Ideation
            p In the ideation phase, I designed sketches, created 2 personas and storyboards, and designed a sitemap.
        .row.sub-section-header Design Sketches
                p Each team member individually created design sketches before collectively sharing our ideas. Below are my personal design sketches. 
                //- div.text-center
                //-     img.img-responsive.thumbnail-modal(src='images/atomic/sitemap.jpg', type='button', data-toggle='modal', data-target='#myModalSiteMap', width='50%',height='50%')                
        .row.sub-section-header Persona
            .row
                .col-lg-6.col-md-6.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.persona_1.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.persona_1.driveSrc, modalObjects.persona_1.title, modalObjects.persona_1.targetModal)')    
                .col-lg-6.col-md-6.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.persona_2.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.persona_2.driveSrc, modalObjects.persona_2.title, modalObjects.persona_2.targetModal)')         
        .row.sub-section-header Storyboard
            .row
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.al_storyboard.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.al_storyboard.localSrc, modalObjects.al_storyboard.title, modalObjects.al_storyboard.targetModal)') 
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.allison_storyboard.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.allison_storyboard.localSrc, modalObjects.allison_storyboard.title, modalObjects.allison_storyboard.targetModal)')            
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.amy_storyboard.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.amy_storyboard.localSrc, modalObjects.amy_storyboard.title, modalObjects.amy_storyboard.targetModal)')                
        //- .row.sub-section-header Sitemap
        //-         div.text-center
        //-             img.img-responsive.thumbnail-modal(src='{{modalObjects.sitemap.localSrc}}', type='button', data-toggle='modal', width='50%',height='50%', ng-click='openModal(modalObjects.sitemap.localSrc, modalObjects.sitemap.title, modalObjects.sitemap.targetModal)')        

.position
.section#section-eight
    .container
        .row.section-header Prototype
            p In the prototype phase, I helped my team design paper prototypes and conduct usability tests.
        .row.sub-section-header Paper Prototype
            p Using the sitemap, my team divided sections of the system to allow each member to create designs for the paper prototype. After sharing and discussing our sketches, we improved upon the designs to create a consistent look and feel for our concept.
    .container
        #CarouselPaperPrototypes.carousel.slide(data-interval="false")
          .carousel-inner
            .item(ng-repeat='prototypes in ::paperPrototypes', ng-class='{active: $first}')
              ul.thumbnails
                li.col-sm-3(ng-repeat='prototype in ::prototypes')
                    img.img-responsive(src='{{prototype.src}}', alt='', ng-click='openModal(prototype.src, prototype.title, "#galleryModal")')                
          nav
            ul.control-box.pager
              li
                a(data-target="#CarouselPaperPrototypes", data-slide="prev")
                  i.glyphicon.glyphicon-chevron-left
              li
                a(data-target="#CarouselPaperPrototypes", data-slide="next")
                  i.glyphicon.glyphicon-chevron-right            
        .row.sub-section-header Usability Tests
            .row
                p My team and I conducted usability tests with over 10 participants using our low-fidelity prototype. Our team noticed confusion in initial wording between “CREATE CARD” and “CREATE STORY”, furthermore, my team noticed that participants would rather have one option to create a post that would allow them to further expand their writing if needed. Results from all sessions are listed below.
                .col-lg-12.col-md-12.col-sm-12.col-xs-12.section-title
                    ul
                        li Participants displayed confusion with the “PUBLISH & VIEW” button 
                        li Participants displayed confusion on the intuitiveness and functionality of the homepage 
                        li Participants displayed confusion on the redirection of multiple pages in the system including the pages that follow ‘SEARCH’ and ‘FRIENDS FEED'
                        li ‘PUBLISH & VIEW’ -> Separate ‘PREVIEW’ button and “PUBLISH” button
                        li ‘FRIEND’s FEED’ on the homepage to “FEED”
                p A few positive findings:
                .col-lg-12.col-md-12.col-sm-12.col-xs-12.section-title
                    ul
                        li Easy use due to simplicity in screen design
                        li Covers all basic features given example problem
                        li Likes the social media sharing aspect                    
.position
.section#section-nine
    .container
        .row.section-header High Fidelity Prototypes
    .container
        #CarouselHighFidelity.carousel.slide(data-interval="false")
          .carousel-inner
            .item(ng-repeat='prototypes in ::highFidelityPrototypes', ng-class='{active: $first}')
              ul.thumbnails
                li.col-sm-3(ng-repeat='prototype in ::prototypes')
                    img.img-responsive(src='{{prototype.src}}', alt='', ng-click='openModal(prototype.src, prototype.title, "#galleryModal")')                
          nav
            ul.control-box.pager
              li
                a(data-target="#CarouselHighFidelity", data-slide="prev")
                  i.glyphicon.glyphicon-chevron-left
              li
                a(data-target="#CarouselHighFidelity", data-slide="next")
                  i.glyphicon.glyphicon-chevron-right    

        .row.sub-section-header The Solution
            p Through our competitive analysis and research, we were able to identify the following features that would meet the needs of our users:
            .row.sub-sub-section-header Documentation
                p Our system gives users the option to share their experiences through creating a custom blog type post that includes images and text provided by the user.
            .row.sub-sub-section-header Itinerary Advice and Planning
                p Our system will allow users to share itinerary plans for certain travel destinations to the general public. This will allow other users to seek local, common, or popular itinerary plans that would be best suited for them. By allowing this feature, the user inputted data will be  a meaningful and digestible way to interact with other users.
            .row.sub-sub-section-header Social Media
                p For users who’d like to share their experiences with friends and family members, Sightseers offers a social media component wherein they can post their experiences be seen by friends and family.
.position
.section#section-ten
    .container
        .row.section-header Future Considerations
            p The main objective of Sightseers is to help college students of Washington document their travel experiences before forgetting. Future development on our project would largely focus on conducting more research of our target users, more usability tests, and further refining our product. 
// Gallery Modal
#galleryModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title {{currentPrototype.title}}
            .modal-body.text-center
                img(ng-src='{{currentPrototype.src}}', width='100%', height='100%')
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close
// Iframe Viewer Modal
#modalIframeViewer.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title {{currentPrototype.title}}
            .modal-body
                iframe(ng-src='{{currentPrototype.src}}', width='100%', height='500')
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close         
// Image Viewer Modal
#modalImageViewer.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title {{currentPrototype.title}}
            .modal-body.text-center
                img(ng-src='{{currentPrototype.src}}', width='100%', height='100%')
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close