link(rel='stylesheet', href='/css/partial1.css')
.hero-bg
	.hero-content
		.svg-container
			#my-animation
		.svg-container
			#my-second-animation
	.position
.page-wrapper#projects-content
	.row
		.col-lg-12.text-center
			#project-title(style="font-family: Quicksand;") Latest Work
	br
	br
	//- .container
	//- 	.col-lg-12
	//- 		card-item(ng-repeat='project in listOfProjects', url='{{project.url}}', title='{{project.title}}', description='{{project.description}}', route='{{project.route}}', tags="{{project.tags}}")
	//- br
	//- br
	//- br

.container
	.col-lg-12
		.row(ng-repeat = 'projectRow in listOfProjects')
			.col-md-4(ng-repeat='project in projectRow')
				.profile-card.text-center(ng-click='goToProject(project.route)')
					img.img-responsive(src='{{project.url}}')
					.profile-info
						//- img.profile-pic(src='https://pbs.twimg.com/profile_images/711000557742395396/jzm8hqwW.jpg')
						h2.hvr-underline-from-center {{project.title}}
						div
							span(ng-repeat="tag in project.tags") {{tag}}&nbsp;/&nbsp;
						div {{project.description}}
						//- a(href='http://www.twitter.com/mike_youngg')
						//- 	i.fa.fa-twitter.fa-2x
						//- a(href='mailto:michael_y@live.co.uk')
						//- 	i.fa.fa-envelope-o.fa-2x
						//- a(href='http://www.linkedin.com')
						//- 	i.fa.fa-linkedin.fa-2x