link(rel='stylesheet', href='/css/partialProject1.css')
.banner-section
//p.banner-header-text RECOVERY: Earthquake Edition
        //- video-bg(video-id='video.id')
.section#section-one
    .row.section-header Overview
    .row
        p For 2 quarters (20 weeks), I worked in a team of four undergraduate students to create a card game prototype to teach college students about earthquake recovery. The idea was proposed to my team by our sponsor, Scott Miles from The Center for Collaborative Systems for Security, Safety, and Regional Resilience (CoSSaR).
    .row.alert.alert-success
        | This project won 
        strong People’s Choice Runner Up Award 
        | at the Human-Centered Design & Engineering showcase where over 20 undergraduate and graduate capstone projects were featured. 
.section#section-two
    .row.section-header Team
    .row
        .col-sm-6.col-md-4.col-lg-3.mt-4(ng-repeat='member in team')
            .team-card
                img.team-card-img-top(src='{{member.image}}')
                .team-card-block
                    span {{member.name}}     
                .team-card-footer
                    span {{member.role}}
.section#section-three
    .row.section-header My Responsibilities
    .row
        .col-xs-12.col-sm-6.col-lg-4(ng-repeat='responsibility in responsibilities')
            .box
                .icon
                    .image
                        i.fa(class='{{responsibility.image}}')
                    .info
                        .title {{responsibility.description}}
                .space

.section#section-four
    .row.section-header Problem Statement
    .row
        p Earthquake recovery is a probable threat in the Pacific Northwest. 