link(rel='stylesheet', href='/css/partialProject1.css')
div
    img.banner-image.img-responsive(src='images/banners/ala.jpg')
//Introduction Section
.container
    .col-md-9.col-lg-9.col-sm-9
        .project-title Asian Law Alliance
        .row.section-header Overview
        .row
            p Asian Law Alliance is a non-profit organization that helps people obtain decent housing, justice in the immigration process, and access to basic human and legal rights. Asian Law Alliance seeked graphic design help for an upcoming holiday event and wanted event materials that would communicate the event to their community members.   
        .row.section-header Solution
            p For 5 weeks, I focused on designing digital and print collaterals to formally invite Asian Law Alliance’s community members for the holiday event.           
    .col-md-3.col-lg-3.com-sm-3
        h3 Duration
        p 5 weeks
        h3 My Role
        ul.list-not-decorated 
            li Graphic Designer
            li Brand Identity         
        h3 Skills
        ul.list-not-decorated 
            li Illustrator
            li Paper Sketching
        h3 Deliverables
        ul.list-not-decorated 
            li Digital and Print Collaterals          
//Details Section
.container 
    .col-md-12.col-lg-12.col-sm-12
        .section-container-0-0
            .row.section-header Delivering Formal and Festive Print Collaterals 
                p Through the client's request, I focused on designing formal and festive print collaterals that would be used for the client’s holiday event. I designed a holiday event invitation card, print email letter, event flyer, and biography flyers. 
                //- p(style='color: #962d22') Project artifacts will be displayed end of November 2017.
//Details Section
.container 
    .col-md-12.col-lg-12.col-sm-12
        .section-container-0-0
            .row
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.ala_banner.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.ala_banner.localSrc, modalObjects.ala_banner.title, modalObjects.ala_banner.targetModal)') 
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.ala_final.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.ala_final.localSrc, modalObjects.ala_final.title, modalObjects.ala_final.targetModal)')            
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.ala_flyer.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.ala_flyer.localSrc, modalObjects.ala_flyer.title, modalObjects.ala_flyer.targetModal)')                
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.ala_flyer_back.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.ala_flyer_back.localSrc, modalObjects.ala_flyer_back.title, modalObjects.ala_flyer_back.targetModal)') 
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.ala_flyer_front.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.ala_flyer_front.localSrc, modalObjects.ala_flyer_front.title, modalObjects.ala_flyer_front.targetModal)') 
                //- .col-lg-4.col-md-4.col-sm-12.col-xs-12
                //-     img.img-responsive.thumbnail-modal(src='{{modalObjects.ala_logo_black.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.ala_logo_black.localSrc, modalObjects.ala_logo_black.title, modalObjects.ala_logo_black.targetModal)')            
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.ala_logo_blue.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.ala_logo_blue.localSrc, modalObjects.ala_logo_blue.title, modalObjects.ala_logo_blue.targetModal)')
// Gallery Modal
#galleryModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title {{currentPrototype.title}}
            .modal-body.text-center
                img(ng-src='{{currentPrototype.src}}', width='100%', height='100%')
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close
// Iframe Viewer Modal
#modalIframeViewer.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title {{currentPrototype.title}}
            .modal-body
                iframe(ng-src='{{currentPrototype.src}}', width='100%', height='500')
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close         
// Image Viewer Modal
#modalImageViewer.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title {{currentPrototype.title}}
            .modal-body.text-center
                img(ng-src='{{currentPrototype.src}}', width='100%', height='100%')
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close