link(rel='stylesheet', href='/css/partial1.css')
.hero-bg
	.hero-content
		.svg-container
			#my-animation
		.svg-container
			#my-second-animation
	.position
br
.page-wrapper#projects-content
	.row
		.col-lg-12.text-center
			#project-title Projects
	br
.container
	div
		.box-row
			.col-md-4(ng-repeat='project in ::listOfProjects')
				.profile-card.text-center(ng-click='goToProject(project.route)')
					img.img-responsive(src='{{project.url}}')
					.profile-info
						h2(class="{{project.class}}").hvr-underline-from-center {{project.title}}
						div
							span(ng-repeat="tag in project.tags") {{tag}}&nbsp;
						div {{project.description}}
.page-wrapper#projects-content
	.row
		.col-lg-12.text-center
			#project-title Work Experiences 
			#project-sub-title Note: Work items tagged as "NDA" are not clickable due to non-discolure agreements.
	br
.container
	div
		.box-row
			.col-md-4(ng-repeat='project in ::workExperiences')
				.profile-card.text-center(ng-click='goToProject(project.route)')
					img.img-responsive(src='{{project.url}}')
					.profile-info
						h2(class="{{project.class}}").hvr-underline-from-center {{project.title}}
						div
							span(ng-repeat="tag in project.tags") {{tag}}&nbsp;
						div {{project.description}}