link(rel='stylesheet', href='/css/partial1.css')
.row
	.hero-bg
		.hero-content
			span#my-animation
			span#my-second-animation
.page-wrapper

	.row
		.col-lg-12.text-center
			h1(style="font-family: Quicksand;") Projects Page
	br
	br
	.container
		//- .col-lg-12.text-center
		//- 	.col-lg-4(project-item, ng-repeat='project in listOfProjects', url='{{project.url}}', title='{{project.title}}', description='{{project.description}}', route='{{project.route}}', style='margin-bottom: 10px')			
		.col-lg-12
			card-item(ng-repeat='project in listOfProjects', url='{{project.url}}', title='{{project.title}}', description='{{project.description}}', route='{{project.route}}', tags="{{project.tags}}")
			
			//- .col-lg-4.card(ng-mouseenter="slideIn($event.currentTarget); $event.stopPropagation();", ng-mouseleave="slideOut($event.currentTarget); $event.stopPropagation();")
			//- 	div.card-image
			//- 	div.card-desc.card-desc-animation(ng-class="{showPanel: showPanel}")
			//- 		p.label
			//- 			span UX/UI 
			//- 			span Illustration
			//- 			span Images
			//- 		h3
			//- 			| Papaya Global
			//- 			span.ic-arrow-right.float-right
			//- 				i.fa.fa-arrow-right.arrow-default(aria-hidden='true', ng-class="{highlightArrow: showPanel}")
			//- 		div.card-desc-panel(ng-class="{showText: showPanel}")
			//- 			p Papaya is a SaaS platform that connects corporate clients with suppliers to grow their teams and expand globally.

