link(rel='stylesheet', href='/css/partialProject1.css')
div
    img.banner-image.img-responsive(src='images/banners/rec.jpg')
//Introduction Section
.container
    .col-md-9.col-lg-9.col-sm-9
        .project-title RECOVERY: Earthquake Edition
        .row.section-header Overview
        .row
            p I worked in a team of four undergraduate students to create a card game prototype to teach college students about earthquake recovery. The idea was proposed to my team by our sponsor, Scott Miles from The Center for Collaborative Systems for Security, Safety, and Regional Resilience (CoSSaR).
        .row.section-header Problem Statement
        .row
            p Earthquake recovery is a probable threat in the Pacific Northwest. 
            .col-lg-6.col-md-6.col-sm-12.col-xs-12.section-tile
                | Based on web research:
                ul
                    li recovery is long-term, sometimes lasting 10+ years
                    li recovery heavily involves collaboration and cooperation between emergency managers
                    li recovery does not always mean building back to the normal state
            .col-lg-6.col-md-6.col-sm-12.col-xs-12.section-tile
                | Based on user surveys:
                ul
                    li there is a lack of user knowledge on disaster recovery
                    li participants defined recovery as short-term and focused on survival
                    li participants did not mention improvements in definition    
        .row.section-header Design Questions
            .design-question-statement
                span “
                | What does recovery look like after a disaster? What are real world examples of approaches and challenges to disaster recovery?
                span ”
            .design-question-statement
                span “
                | What types of existing board game mechanisms are there? 
                span ”   
        .row.section-header Solution
            p RECOVERY: Earthquake Edition is an educational card game adapted from the existing card game called TOURING from Winning Moves Inc. RECOVERY edu- cates its players on earthquake recovery. In this 3-4 player game, each player takes on the role of an emergency manager of their own city, all of which have been struck by an earthquake. The goal of the game is to rebuild your city in- cluding houses, businesses, fire stations, and schools.                     
    .col-md-3.col-lg-3.com-sm-3
        h3 Duration
        p 20 weeks
        h3 Team
        ul.list-not-decorated 
            li Shelley Eang
            li Michael Chen
            li Khalil Somani
            li Amy Tang
        h3 My Role
        ul.list-not-decorated 
            li UX/UI
            li Visual Designer
            li User Researcher
        h3 Skills
        ul.list-not-decorated 
            li Illustrator
            li Figma             
//Impact Section
.row.alert.alert-success
    .section-container-10-10
        | This project won 
        strong People’s Choice Runner Up Award 
        | at the Human-Centered Design & Engineering showcase where over 20 undergraduate and graduate capstone projects were featured. 
//Details Section
.container 
    .col-md-12.col-lg-12.col-sm-12
        .section-container-0-0
            .row.section-header My Responsibilities
            .row
                .col-xs-12.col-sm-6.col-lg-4(ng-repeat='responsibility in ::responsibilities')
                    .box
                        .icon
                            .image
                                i.fa(class='{{responsibility.image}}')
                            .info
                                .title {{responsibility.description}}
                        .space
//Details Section
.container 
    .col-md-12.col-lg-12.col-sm-12
        .section-container-0-0
            .row.section-header Research
            .row
                p My team and I conducted literature research of over 70 peer reviewed and Association for Computer Machinery (ACM) research papers on disaster recovery and game mechanisms.
                p(style='font-weight: bold') 
                    a(href="mailto:eangshelley@gmail.com", target="_blank") Email me
                    |  for the articles I read.
            .row.sub-section-header Existing Competitive Games
                p My team and I conducted competitive analysis on 6 board games to gain an understanding of game mechanics and how existing board games work. We discovered that many existing competitive games relied on a random factor, team-playing games often required strategy, and competitive collaborative games often required negotiation.
            .box-row
                .col-md-4.col-lg-4.col-sm-4(ng-repeat='game in ::competitiveGames')
                    img(src='{{game.source}}', class='img-rounded img-responsive')
                    br
                    p 
                        b Objective
                        | : {{game.objective}}
                    p
                        b Game Mechanism
                        | : {{game.mechanism}}
                
//Details Section
.container 
    .col-md-12.col-lg-12.col-sm-12
        .section-container-0-0
            .row.section-header Ideation
            .row
                p Disaster recovery is a complex process that many college students often do not know about or have little understanding of. My team and I conducted user research in the form of user surveys at the University of Washington to gain a better understanding of our target audience.
            .row.sub-section-header User Survey Results
            .box-row
                .col-md-3.col-lg-3.col-sm-12.col-xs-12(ng-repeat='respondent in ::listOfRespondents')
                    .stats-contaner
                        .stats-value {{respondent.percentage}}%
                        .stats-line of Respondents
                        .stats-description {{respondent.desc}}                           
            .row.sub-section-header Persona
            .row
                div.text-center
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.persona_1.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.persona_1.driveSrc, modalObjects.persona_1.title, modalObjects.persona_1.targetModal)')
//Details Section
.container 
    .col-md-12.col-lg-12.col-sm-12
        .section-container-0-0
            .row.section-header Low Fidelity Prototype
            .row
                p Design layouts were largely inspired by the existing card game called TOURING from Winning Moves Inc. My contributions included designing all three AFTERSHOCK cards, BUSINESS card, FIRE STATION card, SCHOOL card, TRADE card, EARTHQUAKE INSURANCE card, and team avatar cards. After sharing and discussing our sketches, we improved upon the designs to create a consistent look and feel for our concept.
.row.carousel-row
    #Carousel.carousel.slide(data-interval="false")
        .carousel-inner
            .item(ng-repeat='prototypes in ::lowFidelityPrototypes', ng-class='{active: $first}', data='{{::$index}}')
                ul.thumbnails
                    li.col-sm-3(ng-repeat='prototype in ::prototypes')
                        img.img-responsive(src='{{prototype.src}}', alt='', ng-click='openModal(prototype.src, prototype.title, "#galleryModal")')                
        nav
            ul.control-box.pager
                li
                    a(data-target="#Carousel", data-slide="prev")
                        i.glyphicon.glyphicon-chevron-left
                li
                    a(data-target="#Carousel", data-slide="next")
                        i.glyphicon.glyphicon-chevron-right   
.container 
    .col-md-12.col-lg-12.col-sm-12
        .section-container-0-0
            .row.section-header User Test & High Fidelity Prototype
            .row
                p My team and I conducted two structured usability test sessions that simulated real game play. The first session had a group of 3 players and the second session had a group of 4 players. Results from the usability test sessions were from the low fidelity prototypes.
            .row.sub-section-header User Survey Results
            .box-row
                .col-mg-3.col-lg-3.col-sm-3
                    .box-item  Add a card that signified a trade of cards
                .col-mg-3.col-lg-3.col-sm-3
                    .box-item players were confused at the instructions of the game
                .col-mg-3.col-lg-3.col-sm-3
                    .box-item players noted that the game was too general- ized and did not know it was recovery specific
                .col-mg-3.col-lg-3.col-sm-3
                    .box-item  All players enjoyed the game and players (who originally were unac- quainted) collaborated with each other
//Details Section
.container 
    .col-md-12.col-lg-12.col-sm-12
        .section-container-0-0
            .row.section-header High Fidelity Prototype
            .row
                p Design layouts were largely inspired by the existing card game called TOURING from Winning Moves Inc. My contributions included designing all three AFTERSHOCK cards, BUSINESS card, FIRE STATION card, SCHOOL card, TRADE card, EARTHQUAKE INSURANCE card, and team avatar cards. After sharing and discussing our sketches, we improved upon the designs to create a consistent look and feel for our concept.
.row.carousel-row
    #CarouselHighFidelity.carousel.slide(data-interval="false")
        .carousel-inner
            .item(ng-repeat='prototypes in ::highFidelityPrototypes', ng-class='{active: $first}')
                ul.thumbnails
                    li.col-sm-3(ng-repeat='prototype in ::prototypes')
                        img.img-responsive(src='{{prototype.src}}', alt='', ng-click='openModal(prototype.src, prototype.title, "#galleryModal")')                
        nav
            ul.control-box.pager
                li
                    a(data-target="#CarouselHighFidelity", data-slide="prev")
                        i.glyphicon.glyphicon-chevron-left
                li
                    a(data-target="#CarouselHighFidelity", data-slide="next")
                        i.glyphicon.glyphicon-chevron-right
.container 
    .col-md-12.col-lg-12.col-sm-12
        .section-container-0-0
            .row.section-header Future Considerations
            .row
                ul
                    li conduct more usability test sessions with actual emergency managers to gain a better understanding of how RE- COVERY: Earthquake Edition would be used and evaluate the educational aspect.
                    li refine the game and game instructions
                    li make the game easily changeable for different topics or cities
//-
//- .section#section-eleven
//-     .container
//-         .row.section-header Additional Resources         
//-         .row.sub-section-header Product Video
//-             p Design layouts were largely inspired by the existing card game called TOURING from Winning Moves Inc. My team and I designed the images for the cards. My contributions included designing all three AFTERSHOCK cards, BUSINESS card, FIRE STATION card, SCHOOL card, TRADE card, EARTHQUAKE INSURANCE card, and team avatar cards. After sharing and discussing our sketches, we improved upon the designs to create a consistent look and feel for our concept.
//-             ng-youtube-embed(video='videoURL', autoplay='false', color='white', disablekb='true', width='100%', height='500px')         
//-         .row.sub-section-header Process Book
//-             p Design layouts were largely inspired by the existing card game called TOURING from Winning Moves Inc. My team and I designed the images for the cards. My contributions included designing all three AFTERSHOCK cards, BUSINESS card, FIRE STATION card, SCHOOL card, TRADE card, EARTHQUAKE INSURANCE card, and team avatar cards. After sharing and discussing our sketches, we improved upon the designs to create a consistent look and feel for our concept.
//-             p(style='font-weight: bold')
//-                 |  Process book available upon request, 
//-                 a(href="mailto:eangshelley@gmail.com", target="_blank") please e-mail me
//-                 | . 
//-             //- .row.text-center
//-             //-     a(href="https://drive.google.com/file/d/0B3CGwXp9ak2aZl9fWEpDa1pGUVU/view?usp=sharing",  target="_blank")
//-             //-         .button(type="submit") View Process Book   

// Gallery Modal
#galleryModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title {{currentPrototype.title}}
            .modal-body.text-center
                img(ng-src='{{currentPrototype.src}}', width='100%', height='100%')
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close
// Iframe Viewer Modal
#modalIframeViewer.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title {{currentPrototype.title}}
            .modal-body
                iframe(ng-src='{{currentPrototype.src}}', width='100%', height='500')
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close         
// Image Viewer Modal
#modalImageViewer.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title {{currentPrototype.title}}
            .modal-body.text-center
                img(ng-src='{{currentPrototype.src}}', width='100%', height='100%')
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close