link(rel='stylesheet', href='/css/partialProject1.css')
div
    img.banner-image.img-responsive(src='images/banners/fp.jpg')
//Introduction Section
.container
    .col-md-9.col-lg-9.col-sm-9
        .project-title Freedom Project
        .row.section-header Overview
        .row
            p Freedom Project is an 
                span.emphasize innovative educational
                |&nbsp;non-profit organization that promotes non-violent communication, racial equity, and mindfulness through
                span.emphasize &nbsp;serving inmates and those recently released back into the community
                |. For the 12 hour Design Like Mad marathon where designers are assigned to a non-profit organization to lend their creativity, Freedom Project wanted a new logo and materials that communicated their mission.     
        .row.section-header Solution
            p In the 12 hour Design Like Mad marathon, a group of four designers provided new branding guidelines, marketing collateral templates.                
    .col-md-3.col-lg-3.com-sm-3
        h3 Duration
        p November 2017 (12 hours) Design Like Mad 2017 
        h3 Team
        ul.list-not-decorated 
            li Shelley Eang
            li Sarah C.
            li Mandy
            li Neil
        h3 My Role
        ul.list-not-decorated 
            li Graphic Designer
            li Brand Identity
        h3 Skills
        ul.list-not-decorated 
            li Illustrator
            li InDesign
            li Paper Sketching
        h3 
            a(href='http://designlikemadsea.org', target='_blank') DESIGN LIKE MAD

//Details Section
.container 
    .col-md-12.col-lg-12.col-sm-12
        .section-container-0-0
            .row.section-header Focusing on the Brand Identity
                p Through the client's request, my team focused on designing the branding of the project. We designed a new logo that communicates freedom, hope, and opportunities, and provided digital and print collaterals such as the business card, social media materials, and email signage.
                //- p(style='color: #962d22') Project artifacts will be displayed end of November 2017.
//Details Section
.container 
    .col-md-12.col-lg-12.col-sm-12
        .section-container-0-0
            .row
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.artboard_1.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.artboard_1.localSrc, modalObjects.artboard_1.title, modalObjects.artboard_1.targetModal)') 
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.artboard_2.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.artboard_2.localSrc, modalObjects.artboard_2.title, modalObjects.artboard_2.targetModal)')            
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.artboard_3.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.artboard_3.localSrc, modalObjects.artboard_3.title, modalObjects.artboard_3.targetModal)')                
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.FP_BusinessCard_1.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.FP_BusinessCard_1.localSrc, modalObjects.FP_BusinessCard_1.title, modalObjects.FP_BusinessCard_1.targetModal)') 
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.FP_BusinessCard_2.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.FP_BusinessCard_2.localSrc, modalObjects.FP_BusinessCard_2.title, modalObjects.FP_BusinessCard_2.targetModal)') 
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                    img.img-responsive.thumbnail-modal(src='{{modalObjects.FP_Logo.localSrc}}', type='button', data-toggle='modal', ng-click='openModal(modalObjects.FP_Logo.localSrc, modalObjects.FP_Logo.title, modalObjects.FP_Logo.targetModal)')            

// Gallery Modal
#galleryModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title {{currentPrototype.title}}
            .modal-body.text-center
                img(ng-src='{{currentPrototype.src}}', width='100%', height='100%')
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close
// Iframe Viewer Modal
#modalIframeViewer.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title {{currentPrototype.title}}
            .modal-body
                iframe(ng-src='{{currentPrototype.src}}', width='100%', height='500')
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close         
// Image Viewer Modal
#modalImageViewer.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title {{currentPrototype.title}}
            .modal-body.text-center
                img(ng-src='{{currentPrototype.src}}', width='100%', height='100%')
            .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Close