extends layout

block body
  div(data-ng-controller='AppCtrl')
    .navbar.navbar-default.navbar-fixed-top.navbar-animation(role="navigation",ng-class="{displayNav: $root.showNavbar}")
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.animate-show-hide(href="#", ng-show="$root.showNavbar", ng-click='routeTo("view1")')
          img(src="/images/favicon.jpg", width='80', height='80')
        div.navbar-brand.animate-show-hide#logo-text(ng-show="$root.showNavbar", ng-click='routeTo("view1")')
          |Shelley Eang
          |<br>
          |UX Designer
        

      .collapse.navbar-collapse.navbar-ex1-collapse(ng-class="{displayCollapseNav: $root.showNavbar}")
        ul.nav.navbar-nav.navbar-right
          li
            a(ng-click="routeTo('view1')") 
              span(ng-class="{highlightNav: $root.currentBaseUrl === '/view1'}") Projects
          li  
            a(ng-click="routeTo('view2')")
              span(ng-class="{highlightNav: $root.currentBaseUrl === '/view2'}") About 
          li  
            a(ng-click="routeTo('resume')")
              span(ng-class="{highlightNav: $root.currentBaseUrl === '/resume'}") Resume        
    .container#app-container   
      div
        div(ng-view).view-container
    .container#button-up-container
      #back-to-top
        i.fa.fa-arrow-circle-up.fa-6(ng-click='scrollToTop()')
    #footer
      | &copy; 2017 Shelley Eang  
  
  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='js/lib/angular-1.3.0/angular.js')
  script(src='js/lib/angular-1.3.0/angular-route.js')
  script(src='js/lib/angular-1.3.0/angular-animate.js')
  script(src='js/lib/angular-1.3.0/angular-sanitize.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='bootstrap/js/bootstrap.min.js')
  script(src='js/lib/vivus/dist/vivus.min.js')
  script(src='js/lib/ng-youtube-embed/build/ng-youtube-embed.min.js')
  script(type='text/javascript')
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-102497982-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();