extends layout

block body
  .navbar.navbar-default.navbar-fixed-top(role="navigation")
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#")
        img(src="/images/logo.png")
      div.navbar-brand#logo-text
        |Shelley Eang
        |<br>
        |UX Designer

    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href="view1") 
            span PROJECTS
        li  
          a(href="view2")
            span ABOUT 
        li  
          a(href="view3")
            span BLOG        
  .container#app-container   
    div(ng-controller='AppCtrl')
      //.jumbotron  
        h1 Hello {{name}}
      div(ng-view).view-container
    div.page-wrapper#footer
      .row
        .col-lg-4.footer-item
            div.footer-title
              | 	&copy; 2017 Shelley Eang                      
        .col-lg-4.footer-item
            div.footer-title
              | SOCIAL
            div
              span.footer-sub-title Follow Me 
              <i class="fa fa-linkedin" aria-hidden="true"></i>
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <i class="fa fa-google" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
        .col-lg-4.footer-item
            div.footer-title
              | CONTACT
            div.footer-description
              span.footer-sub-title Email 
              | sseang@uw.edu
            div.footer-description
              span.footer-sub-title Phone 
              | (206) - 999 - 9999  

  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='js/lib/angular/angular-animate.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='bootstrap/js/bootstrap.min.js')
  script(src='route-styles.js')
  script(src='js/lib/angularSlideables.js')
  script(src='js/lib/angular-scroll-animate.js')
  script(src='js/lib/ngParallax.min.js')
  script(src='js/lib/angular-ui-swiper/dist/angular-ui-swiper.min.js')
