/* app css stylesheet */

body {
  padding-top:70px;
  font-family: 'Quicksand', sans-serif;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}
div.collapse.navbar-collapse.navbar-ex1-collapse > ul {
  padding-top: 40px;
}

.navbar {
  background-color: #fff;
  border-bottom: none;
}

#logo-text {
  font-weight: bold;
}

div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li {
  font-weight: bold;
  font-size: 12pt;
}

div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li > a > span:hover{
  border-bottom: 3px solid black;
}

div.container {
  padding-top: 30px;
}

/*add side padding like it normally would*/
.page-wrapper {
  padding: 0px 15px;
}

#app-container {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;  
}

#footer {
  border-top: 1px solid #ddd;
  padding: 100px;
}

.footer-title {
  text-transform: uppercase;
  font-size: 20pt;
  font-weight: bold;
  color: grey;
  margin-bottom: 10px;
}

.footer-sub-title{
  color: grey;
  font-weight: bold;
  font-size: 12pt;
  margin-right: 10px;
}

.footer-description{
  font-size: 12pt;
  margin-bottom: 5px;
}

.fa {
  font-size: 20pt;
  margin: 0px 5px;
}

.footer-item {
  margin-bottom: 20px;
}