/* app css stylesheet */
.navbar-nav span {
  font-weight: 500;

}

.hide-item {
  visibility: hidden;
}

#landing-banner {
  background-image: url('https://www.usnews.com/cmsmedia/d4/0a/f99e7b2e441989797d2850ffba33/seattle.jpg');
  /*background-repeat:no-repeat;
  background-size:contain;*/
  background-position:center;  
  text-align: center;
}
#landing-text {
  font-size: 30pt;
}

body {
  /*padding-top:70px;*/
  font-family: 'Quicksand', sans-serif;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}
div.collapse.navbar-collapse.navbar-ex1-collapse > ul {
  padding-top: 40px;
}

.navbar {
  background-color: #fff;
  /*background-color: rgba(255, 255, 255, 0);*/
  border-bottom: none;
}

#logo-text {
  font-weight: bold;
  padding-top: 32px;
}

div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li {
  font-weight: bold;
  font-size: 12pt;
}

div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li > a > span:hover{
  border-bottom: 3px solid black;
}

div.container {
  padding-top: 30px;
}

/*add side padding like it normally would*/
.page-wrapper {
  padding: 0px 15px;
}

#app-container {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;  
  padding-top: 0px;
}

#footer {
  border-top: 1px solid #ddd;
  padding: 100px;
}

.footer-title {
  text-transform: uppercase;
  font-size: 20pt;
  font-weight: bold;
  color: grey;
  margin-bottom: 10px;
}

.footer-sub-title{
  color: grey;
  font-weight: bold;
  font-size: 12pt;
  margin-right: 10px;
}

.footer-description{
  font-size: 12pt;
  margin-bottom: 5px;
}

.fa {
  font-size: 20pt;
  margin: 0px 5px;
}

.footer-item {
  margin-bottom: 20px;
}

.blue-div{

  background-color:blue;
}

.green-div{
  background-color:green;
}


.navbar-animation {
    -webkit-transition: .5s linear all;
    -moz-transition: .5s linear all;
    -o-transition: .5s linear all;
    -ms-transition: .5s linear all;
    transition: .5s linear all;
    background-color: rgba(255, 255, 255, 0);
    height: 100px;
    
}

.displayNav {
  height: 120px;
  background-color: #fff;
}

.animate-show-hide {
  /*padding:10px;*/
  /*border:1px solid black;*/
  /*background:white;*/
}
 
.animate-show-hide.ng-hide-add, .animate-show-hide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}
 
.animate-show-hide.ng-hide-add.ng-hide-add-active,
.animate-show-hide.ng-hide-remove {
  opacity:0;
}
 
.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}