.arrow-default {
    -webkit-transition: .5s linear all;
    -moz-transition: .5s linear all;
    -o-transition: .5s linear all;
    -ms-transition: .5s linear all;
    transition: .5s linear all;
    cursor: pointer;
  color: #ddd;
}

.arrow-default.highlightArrow {
  color: lightskyblue;
}

.project-wrapper {
    /*background-color: #ddd;*/
    position:absolute;
    color: black;
    background-color: 	rgba(255,182,193, .6);
    cursor: pointer;
    padding: 0px 15px;
    vertical-align: middle;
    border-radius: 2px;
}

.card-container {
  margin-top: 10px;
}

.card {
  padding: 0px;
  position: relative;
  box-shadow: 0 0 20px rgba(236, 240, 241,1.0);
}

.card:hover {
  box-shadow: 0 0 20px rgba(149, 165, 166,1.0);
    -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;
}

.card-image {
  background-image: url('http://www.logo-company.in/logo/171.jpg');
  height: 385px;
  overflow:hidden;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center center;
  /*border: 1px solid #ddd;*/
}

.card-desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    padding: 35px 25px;
    border-radius: 0 0 4px 4px;
    z-index: 1;
    /*border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;*/
    
}

.card-desc-animation {
    -webkit-transition: .5s linear all;
    -moz-transition: .5s linear all;
    -o-transition: .5s linear all;
    -ms-transition: .5s linear all;
    transition: .5s linear all;
    height: 140px;
}

.card-desc-animation.showPanel{
  height: 65%;
}

.card-desc .label {
  color: #9394A7;
}

.label span {
  margin-right: 10px;
  font-size: 13pt;
}

.card-desc h3 {
  font-size: 35px;
  line-height: 1.4;
}
.card .ic-arrow-right {
  color: #9394A7;
  float:right;
}

.card-desc-panel {
  -webkit-transition: .5s linear;
  -moz-transition: .5s linear;
  -o-transition: .5s linear;
  -ms-transition: .5s linear;
  transition: .5s linear;

  font-size: 12pt;
  visibility: hidden;
  opacity: 0;
}

.card-desc-panel.showText {
  visibility: visible;
  opacity: 1;
}

.hero-bg {
  background:#222;
  /*height:100%;*/
  height: 700px;
  /*max-height:550px;*/
  width:100%;
  clear:both;
  /*position:absolute;*/
  margin-bottom:50px;
  text-align: center;
  background:url('../images/sunset_seattle.jpg') no-repeat center center;
  background-size:cover;
  
}
@media (min-width:0px) and (max-width:640px) {
  .hero-bg{ 
    /*background:url(https://dl.dropboxusercontent.com/u/24098368/responsive-hero-bg-2.jpg) no-repeat center center;*/
    background-size:cover;
    height: 700px;
  }
}

@media (min-width:641px) and (max-width:1024px) {
  .hero-bg{ 
    /*background:url(https://dl.dropboxusercontent.com/u/24098368/responsive-hero-bg-2.jpg) no-repeat center center;*/
    background-size:cover;
    height: 700px;
  }
}

@media (min-width:1025px) and (max-width:1500px) {
  .hero-bg{ 
    /*background:url(https://dl.dropboxusercontent.com/u/24098368/responsive-hero-bg-3.jpg) no-repeat center center;*/
    background-size:cover;
     height: 700px;
  }
}

@media (min-width:1501px){
  .hero-bg{ 
    /*background:url(https://dl.dropboxusercontent.com/u/24098368/responsive-hero-bg-4.jpg) no-repeat center center;*/
    background-size:cover;
     height: 700px;
  }
}
.hero-content {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
}

h2 {
  color:#fff;
  font-size:3em;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  margin:0 0 20px;
}

a.btn {
  text-decoration:none;
  color:#005c9e;
  font-size:1.2em;
  border:1px solid #fff;
  padding:10px 20px;
  background:rgba(255,255,255,0.9);
  border-radius:5px;
}

#project-title {
  font-size: 35pt;
}

#project-sub-title {
  font-size: 11pt;
  font-style: italic;
}

.profile-card {
    /*background-color: #222222;*/
    background-color: #30343f;
    margin-bottom: 20px;
	  box-shadow: 0 0 20px rgba(236, 240, 241,1.0);
}

.profile-card:hover {
  box-shadow: 0 0 20px rgba(149, 165, 166,1.0);
    -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;
  cursor: pointer;
}
		
.profile-pic {
  border-radius: 50%;
  position: absolute;
  top: -65px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  max-width: 100px;
  -webkit-transition: all 0.4s;
		  transition: all 0.4s;
				}

				
.profile-info {
		color: #ddd;
		padding: 25px;
	    position: relative;
	    margin-top: 15px;
				}
		
.profile-info h2 {
	color: #E8E8E8;
    letter-spacing: 4px;
	  padding-bottom: 12px;
				}
				
.profile-info span {
	/*display: block;*/
    font-size: 12px;
    color: #BDBDBD;
	letter-spacing: 2px;
			}

.profile-info a {
	 color: #4CB493;
		}
.profile-info i {
	    padding: 15px 35px 0px 35px;
		}
		

.profile-card:hover .profile-pic {
	
	transform: scale(1.1);
		}

.profile-card:hover .profile-info hr  {
	opacity: 1;
		}
		
		
		
		
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 52%;
  right: 52%;
  bottom: 0;
  background: #FFFFFF;
  border-radius: 50%;
  height: 3px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.profile-card:hover .hvr-underline-from-center:before, .profile-card:focus .hvr-underline-from-center:before, .profile-card:active .hvr-underline-from-center:before {
  left: 0;
  right: 0;
  height: 1px;
  background: #CECECE;
}

.position {
    background: #962d22;
    width: 100%;
    height: 5px;
}
