.box > .icon  {
     text-align:  center;
     position:  relative;
 }

.box > .icon > .image  {
     position:  relative;
     z-index:  2;
     margin:  auto;
     width:  88px;
     height:  88px;
     border:  8px solid white;
     line-height:  88px;
     border-radius:  50%;
     background:  #962d22;
     vertical-align:  middle;
 }

.box > .icon > .image > i  {
     font-size:  36px !important;
     color:  #fff !important;
 }

.box > .icon > .info  {
     margin-top:  -24px;
     border: 1px solid #ddd;
     box-shadow:0 0 20px rgba(236, 240, 241,1.0);
     padding:  15px 0 10px 0;
     height: 100px;
 }

.box > .icon > .info > .title  {
     font-size:  15pt;
     color:  #222;
     margin-top: 20px;
     font-weight: 200;
 }

.box > .icon > .info > p  {
     font-family:  "Robot", sans-serif !important;
     font-size:  13px;
     color:  #666;
     line-height:  1.5em;
     margin:  20px;
}

.box .space  {
     height:  30px;
 }


.project-container {
    padding: 0 15%;
}

.page-header {
    border-bottom: none;
}

.alert-success {
    background: #962d22;
    border-color: #962d22;
    color: #fff;
}

.bold-text {
    font-size: 12pt;
    color: black;
    font-weight: 700;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.pdf iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
.section {
  height: auto;
  padding: 10% 10px;
}

.banner-section {
  height: 500px;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  margin-top: 25px;  
}

#banner-section-recovery {
  margin-top: 50px;
  /* background-image: url("../images/recovery_logo_2.jpg"); */
  background: url("../images/portfolio_headers/recovery.jpg") no-repeat center center;
  background-size:cover;
}

#banner-section-atomic {
  background-image: url("../images/atomic/atomic_logo.jpg");
}

#banner-section-sight-seers {
  margin-top: 80px;
  /* background-image: url("../images/sightseers-seers_logo_2.jpg"); */
  background: url("../images/portfolio_headers/sightseers.jpg") no-repeat center center;
  background-size:cover;
}

#banner-section-wta {
  background-image: url("../images/wta/wta.jpg");
}

.section-header {
  font-size: 35pt;
  font-weight: 500px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
}

/********* team ***********/

.team-profile-image img {
  border: 2px solid rgba(236, 240, 241,1.0);
}

.member-name {
  /*text-align: center;*/
  font-weight: 350;
  font-size: 20pt;
  padding: 5px 0px;
}

.member-role {
  /*text-align: center;*/
  font-weight: 250;
  font-size: 15pt;
}

.position {
    background: #ddd;
    width: 100%;
    height: 1px;
}

.section-title {
  padding: 0px;
  font-size: 15pt;
}

.section-title li, p, .section-tile {
  font-size: 15pt;
}

.section-tile {
  padding-left: 0px;
}

.design-question-statement {
  font-style: italic;
  font-size: 20pt;
}

.design-question-statement span {
  font-size: 30pt;
  font-weight: 600;
}

.sub-section-header {
  font-size: 25pt;
  font-weight: 400px;
}

.sub-sub-section-header {
  font-size: 17pt;
  font-weight: 200px;
}

/******* MODAL ********/

@media (min-width:0px) and (max-width:640px) {
  section {
    padding: 5% 10px;
  }
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 80%;
  }
}


.thumbnail-modal:hover {
  box-shadow: 0 0 20px rgba(149, 165, 166,1.0);
    -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;
  cursor: pointer;
}

.thumbnail-modal {
  margin: 10px auto;
}


/********* Carousel *************/

.thumbnails img {
  margin: 0 auto;
}

ul.thumbnails { 
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#carousel-container .page-header, .control-box {
    text-align: center;
} 

.carousel-inner ul li { 
  list-style-type:none;
  margin-bottom: 10px;
}

.thumbnails img:hover {
  box-shadow: 0 0 20px rgba(149, 165, 166,1.0);
    -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;
  cursor: pointer;
}

.btn-primary, .btn-primary:hover {
  background-color: #962d22;
  border: #962d22;
}

i.glyphicon.glyphicon-chevron-right, i.glyphicon.glyphicon-chevron-left {
  color: #962d22;
}


/******** PDF VIEWER *********/
#pdf-container {
    padding: 50px 100px;
}


/******* Link to download ******/
.button {
  display: inline-block;
  background: #962d22;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 30px;
  border-radius: 2px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
          transform: translate(0px, -10px) scale(1.2);
  cursor: pointer;
}