.arrow-default {
    -webkit-transition: .5s linear all;
    -moz-transition: .5s linear all;
    -o-transition: .5s linear all;
    -ms-transition: .5s linear all;
    transition: .5s linear all;
    cursor: pointer;
  color: #ddd;
}

.arrow-default.highlightArrow {
  color: lightskyblue;
}

.project-wrapper {
    /*background-color: #ddd;*/
    position:absolute;
    color: black;
    background-color: 	rgba(255,182,193, .6);
    cursor: pointer;
    padding: 0px 15px;
    vertical-align: middle;
    border-radius: 2px;
}

.card {
  padding: 0px;
}

.card-image {
  background-image: url('http://www.logo-company.in/logo/171.jpg');
  height: 385px;
  overflow:hidden;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center center;
  border: 1px solid #ddd;
}

.card-desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
    padding: 35px 25px;
    border-radius: 0 0 4px 4px;
    z-index: 1;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    
}

.card-desc-animation {
    -webkit-transition: .5s linear all;
    -moz-transition: .5s linear all;
    -o-transition: .5s linear all;
    -ms-transition: .5s linear all;
    transition: .5s linear all;

    height: 140px;
}

.card-desc-animation.showPanel{
  height: 65%;
}

.card-desc .label {
  color: #9394A7;
}

.label span {
  margin-right: 10px;
  font-size: 13pt;
}

.card-desc h3 {
  font-size: 35px;
  line-height: 1.4;
}
.card .ic-arrow-right {
  color: #9394A7;
  float:right;
}

.card-desc-panel {
  -webkit-transition: .5s linear;
  -moz-transition: .5s linear;
  -o-transition: .5s linear;
  -ms-transition: .5s linear;
  transition: .5s linear;

  font-size: 12pt;
  visibility: hidden;
  opacity: 0;
}

.card-desc-panel.showText {
  visibility: visible;
  opacity: 1;
}


